#Шаблон файла .env
#Скопируйте .env.example в .env (или создай сам .env папке /backend) и укажите свои данные - это нужно для локального запуска

DB_HOST= # Хост бд
DB_PORT= # Порт PostgreSQL (обычно 5432, может быть другой)
DB_USER= # Имя пользователя БД
DB_PASSWORD= # Пароль (указать свой!)
DB_NAME= # Имя бд

PORT= # Порт, на котором запускается NestJS

JWT_SECRET=   # Секретный ключ для подписи JWT-токенов

ENCRYPTION_KEY=

AI_MOCK_MODE=false
