#Шаблон файла .env
#Скопируйте .env.example в .env (.env создать самостоятельно в папке /backend) и укажите свои данные - это нужно для локального запуска

DB_HOST=localhost # Хост бд
DB_PORT=5432 # Порт PostgreSQL (обычно 5432, может быть другой)
DB_USER=postgres # Имя пользователя БД
DB_PASSWORD=your_password # Пароль (указать свой!)
DB_NAME=umny_kan_db # Имя бд

PORT=3000 # Порт, на котором запускается NestJS